.header{
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  padding: 0px 11px
}

.header{
  margin: 0 20px;
}

.nav-items > ul{
  display: flex;
  font-size: 20px;
}

.nav-items > ul > li{
  list-style: none;
  margin: 0 10px;
}

.search{
  height: 30px;
  padding: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* optional for spacing */
  justify-content: space-evenly; /* or flex-start / space-between */
  width: 100%; /* let it expand fully */
  max-width: 1300px; /* optional: constrain total width */
  margin: auto; /* center the container */
}

.res-card:hover{
  border: 1px solid black;
  cursor: pointer;
}
.res-card {
  width: 210px;
  margin: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.res-logo{
  width: 210px;
}