
/*
.shimmer-container{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-evenly;
  margin: auto;
}
.shimmer-cards{
  width: 231px;
  height: 494px;
  margin: 5px;
  padding-left: 2px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  background-color: gray;
}
*/

@import "tailwindcss";

